.hero{
    background-color: red;
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url('../../../assets/jpg/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba($color: white, $alpha: 1.0);
    background-position: left;


    &__info {
        h1 {
            font-family: 'bold';
            font-size: 56px;
        }
        h5 {
            font-family: 'medium';
            font-size: 26px;
            font-weight: 100;
            margin-top: 20px;
        }
    }
}



@media only screen and (max-width:1048px) {

  

}
@media only screen and (max-width:648px) {

   .hero {
    height: auto;
   }

}