@font-face {
    font-family: 'bold';
    src: url('../fonts/e-Ukraine-Bold.otf');
}
@font-face {
    font-family: 'medium';
    src: url('../fonts/e-Ukraine-Medium.otf');
}
@font-face {
    font-family: 'regular';
    src: url('../fonts/e-Ukraine-Regular.otf');
}
@font-face {
    font-family: 'ultralight';
    src: url('../fonts/e-Ukraine-UltraLight.otf');
}
