.footer{
    height: 260px;
    margin-top: 100px;
    background-color: var(--blue-color);
    display: flex;
    align-items: center;

    &__inner {
        width: 90%;
        margin: 0 auto;
        display: flex;
        color: #FAFAFA;
        justify-content: space-between;


        &-left{
            display: flex;
            align-items: center;
            text-align: center;
            gap: 120px ;
        }

    }

    &__logo {
        font-size: 30px;
        font-family: 'regular';
      
    }
    &__menu {
        display: flex;
        gap:30px;
        font-family: 'regular';
        font-size: 20px;

    }

    &__social {
        display: flex;
        align-items: center;
        text-align: center;
        gap: 26px;
        cursor: pointer!important;
        button {
            border: 1px solid white;
        }
    }
}



@media only screen and (max-width:1440px) {
    .footer{
        height: 260px;
        margin-top: 100px;
        background-color: var(--blue-color);
        display: flex;
        align-items: center;
    
        &__inner {
            width: 90%;
            margin: 0 auto;
            display: flex;
            color: #FAFAFA;
            justify-content: space-between;
    
    
            &-left{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
       
            }
    
        }
    
        &__logo {
            font-size: 30px;
            font-family: 'regular';
          
        }
        &__menu {
            display: flex;
            gap:30px;
            font-family: 'regular';
            font-size: 20px;
    
        }
    
        &__social {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 80px;
            cursor: pointer!important;
            button {
                border: 1px solid white;
            }
        }
    }
    
  

}
@media only screen and (max-width:1048px) {
    .footer{
        height: auto;
        margin-top: 100px;
        background-color: var(--blue-color);
      
    
        &__inner {
   
 
            color: #FAFAFA;
            display: flex;

            flex-direction: column;
    
    
            &-left{
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                gap: 20px;
            
            }
    
        }
    
        &__logo {
            font-size: 20px;
            font-family: 'regular';
          
        }
        &__menu {
            display: flex;
            flex-direction: column;
            // gap:30px;
            font-family: 'regular';
            font-size: 20px;
            margin-bottom: 20px;
    
        }
    
        &__social {
            display: flex;
       flex-direction: column;
            gap: 10px;
            cursor: pointer!important;
            button {
                border: 1px solid white;
                margin-top: 0px;
            }
        }
    }
    
  

}