@import'./styles/index.scss';

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  position: relative;
}
body {
  background-color: #FAFAFA;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  padding: 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: var(--blue-color);
  cursor: pointer!important;
  font-size: 20px;
  font-weight: 100;
}




.opportunities {
padding-top: 100px;
}



.block__title{


  
}


h4{
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  align-items: center;
  position: relative;
  z-index: 999;
  background-color: #FAFAFA;
  span {
    background-color: #FAFAFA;
  }

  &::before
 {
    content: '';
    // position: absolute;
  display: block;
    height: 3px;
    width: 40%;
    background-color: var(--black-color);
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -2;
}
&::after {
  content: '';
  // position: absolute;
display: block;
  height: 3px;
  width: 40%;
  background-color: var(--black-color);
  position: absolute;
  right: 0;
  top: 50%;
  z-index: -2;
}
}

.items {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top:80px ;

  .left__block {
    width: 100%;
    img {
      width: 100%;

    }
  }
  .right__block {
    width: 100%;
    font-size: 26px;
    color: var(--black-color);
    margin-left: 50px;
    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      li {
      
      display: flex;
      gap: 14px;
        &::before{
          content: '';
          background-image: url('./assets/svg/checkmarks.svg');
          background-repeat: no-repeat;
          background-size: contain;
          width: 56px;
          height: 42px;
          display: block;
        }
      }
    } 
  }
}



// Співпраця

// Переваги
@media only screen and (max-width:1048px) { 
.opportunities{
  .items {
    display: flex;
    flex-direction: column;


    .right__block{
      font-size: 20px;
      margin-left: 0px;
    }
  }
}
}
@media only screen and (max-width:648px) { 
.opportunities{
  .items {
    display: flex;
    flex-direction: column;


    .right__block{
      font-size: 14px;
      margin-left: 0px;
    }
  }
}
}

.machines__items {
  .item {
    .title{
      max-width: 40%;
 
    }
  }
}


.call-buton .cc-calto-action-ripple {
	z-index: 99999;
	position: fixed;
	right: 1rem;
	bottom: 2rem;
	background: #4c75ce;
	width: 3rem;
	height: 3rem;
	padding: 1rem;
	border-radius: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #ffffff;
	-webkit-animation: cc-calto-action-ripple 0.6s linear infinite;
	animation: cc-calto-action-ripple 0.6s linear infinite;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-items: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	text-decoration: none; }
	.call-buton .cc-calto-action-ripple i {
	  -webkit-transition: 0.3s ease;
	  transition: 0.3s ease;
	  font-size: 2.2rem; }
	.call-buton .cc-calto-action-ripple:hover i {
	  -webkit-transform: rotate(135deg);
	  transform: rotate(135deg); }
  
  @-webkit-keyframes cc-calto-action-ripple {
	0% {
	  -webkit-box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 0 rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2);
	  box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 0 rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2); }
	100% {
	  -webkit-box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2), 0 0 0 20px rgba(236, 139, 0, 0);
	  box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2), 0 0 0 20px rgba(236, 139, 0, 0); } }
  
  @keyframes cc-calto-action-ripple {
	0% {
	  -webkit-box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 0 rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2);
	  box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 0 rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2); }
	100% {
	  -webkit-box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2), 0 0 0 20px rgba(236, 139, 0, 0);
	  box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2), 0 0 0 20px rgba(236, 139, 0, 0); } }

	span.num{
		position: absolute;
    color: #374997;
    left: -30%;
    bottom: -50%;
	}